
#MenuBox{
	-fx-background-color : white;
	-fx-border-radius : 2px;
	-fx-border-color :#D9D7D7;
	-fx-border-width : 1.25px;
}

.button{
 -fx-font-size: 14px;
 -fx-background-color :#FFFFFF;
 -fx-text-fill : #008080;
 -fx-border-radius : 4px;
 -fx-border-color:#008080;
 -fx-font-weight: bold;
  
 }
 

 .button:hover{
 -fx-background-color :#008080;
 -fx-text-fill : #FFFFFF;
-fx-cursor :hand;
}